extends ../layout.pug

block title
    title User List

block styles
    link(rel="stylesheet", href="/static/styles/snake.css")
    link(rel="stylesheet", href="/static/styles/userList.css")

block content
    div.users-container
        div.users-list
         each val in userlist
            div.users-item
                div.users-image
                    img(src=val.googlePhoto, alt="", srcset="")
                div.users-name= val.googleDisplayName
                div.users-point= val.point + ' Point'
                div.users-point-record= val.sessionPoint + ' Point'
